.gallery-container
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	padding: 0px;
}

.gallery-container p
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 15px;
	margin-bottom: 25px;
}


.gallery-pictureWide
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	width: calc(100% - 80px);
}

.gallery-pictureHalfLeft
{
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: calc(49% - 40px);
	padding: 0px;
}

.gallery-pictureHalfRight
{
	margin-left: 0px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: calc(49% - 40px);
	padding: 0px;
	float: right;
}