.projectDetail-container
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.projectDetail-th
{
	padding: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	display: block;
}

.projectDetail-td
{
	width: 50px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}