.projectDetail-container
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.projectDetail-th
{
	margin-left: 40px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 0px;
	padding: 0px;
}