/*---Below here is the shared styling for the generated HTML elements------------------------------------------------------------------------------*/

.shared-content-h2
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 25px;
	margin-bottom: 10px;
	padding: 0px;
}

.shared-content-h3
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 0px;
}

.shared-content-paragraph
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 12px;
	padding: 0px;
}

.shared-content-span
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: block;
}

/*---Styling for the pictures-----------------------------------------------------------------------------------------------------------------------*/

.shared-content-pictureWide
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	width: calc(100% - 80px);
}

.shared-content-pictureHalfLeft
{
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: calc(49% - 40px);
	padding: 0px;
}

.shared-content-pictureHalfRight
{
	margin-left: 0px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: calc(49% - 40px);
	padding: 0px;
	float: right;
}

.shared-content-pictureHalfLeftWrap
{
	margin-left: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: calc(49% - 40px);
	padding: 0px;
	float: left;
}

.shared-content-pictureThirdRightWrap
{
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: calc(33% - 40px);
	padding: 0px;
	float: right;
}

.shared-content-pictureThirdLeftWrap
{
	margin-left: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: calc(33% - 40px);
	padding: 0px;
	float: left;
}

.shared-content-pictureHalfRightWrap
{
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: calc(49% - 40px);
	padding: 0px;
	float: right;
}

/*---Styling for the hyperlinks----------------------------------------------------------------------------------------------------------------------*/

.shared-content-inlineLinkRed
{
	color: #ff0000;
	text-decoration: none;
	margin-left: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
}

.shared-content-inlineLinkRed:hover
{
	color: #c70000;
}

/*---Styling for the youtube videos-------------------------------------------------------------------------------------------------------------------*/
/*This must be an ID instead of a class because the Youtube frame already has a class for styling*/
#shared-content-youtubeVideoHalf
{
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	display: inline-block;
	width: calc(50% - 61px);
	height: 350px;
	padding: 0px;
	min-width: 300px;
}

#shared-content-youtubeVideoFull
{
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	display: inline-block;
	width: calc(100% - 80px);
	height: 700px;
	padding: 0px;
	min-width: 300px;
}