/*---Below here is the shared styling for the generated HTML elements------------------------------------------------------------------------------*/

.shared-content-h2
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 25px;
	margin-bottom: 10px;
	padding: 0px;
}

.shared-content-h3
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 0px;
}

.shared-content-paragraph
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 12px;
	padding: 0px;
}

.shared-content-span
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: block;
}

.shared-content-pictureWide
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	width: calc(100% - 80px);
}

.shared-content-pictureHalfLeft
{
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: calc(49% - 40px);
	padding: 0px;
}

.shared-content-pictureHalfRight
{
	margin-left: 0px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: calc(49% - 40px);
	padding: 0px;
	float: right;
}