.hashGeneratorContainer
{
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 0px;
}

.hashGeneratorContainer span
{
	display: block;
	height: 20px;
}

.hashGeneratorContainer input
{
	width: 50%;
}

.hashGeneratorContainer button
{
	display: block;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
}

#hashResult
{
	color: blue;
}

#hashResultCopy 
{
	color: green;
}

#hexResult
{
	color: blue;
}

#hexResultCopy
{
	color: green;
}